# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

#### except makefiles
!makefile
!Makefile

#####

*.pyc
*.hpp
*.cpp
/.vscode
/.DS_Store
__pycache__
/Python_GPIOZero_Code
C_Code/01.1.1_Blink/Blink.c
C_Code/07.1.1_ADC/PCF8591.c
C_Code/16.1.1_SteppingMotor/wave2.c
C_Code/16.1.1_SteppingMotor/wave.c
C_Code/27.2.1_LightWater03/LightWater03.c
C_Code/02.1.1_ButtonLED/ButtonLED.c
C_Code/02.2.1_Tablelamp/Tablelamp.c
C_Code/03.1.1_LightWater/LightWater.c
C_Code/04.1.1_BreathingLED/BreathingLED.c
C_Code/05.1.1_ColorfulLED/ColorfulLED.c
C_Code/06.1.1_Doorbell/Doorbell.c
C_Code/06.2.1_Alertor/Alertor.c
C_Code/14.1.1_Relay/Relay.c
C_Code/15.1.1_Sweep/Sweep.c
C_Code/16.1.1_SteppingMotor/wave.c
C_Code/17.1.1_LightWater02/LightWater02.c
C_Code/18.1.1_SevenSegmentDisplay/SevenSegmentDisplay.c
C_Code/19.1.1_LEDMatrix/LEDMatrix.c
C_Code/20.1.1_I2CLCD1602/I2CLCD1602.c
C_Code/23.1.1_SenseLED/SenseLED.c
C_Code/24.1.1_UltrasonicRanging/UltrasonicRanging.c
Python_Code/00.0.0_Hello/Hello.py
Python_Code/01.1.1_Blink/Blink.py
Python_Code/01.1.1_Blink/Blink2.py
Python_Code/01.1.1_Blink/pwm-led.py
Python_Code/02.1.1_ButtonLED/ButtonLED.py
Python_Code/02.1.1_ButtonLED/ButtonLED2.py
Python_Code/02.2.1_Tablelamp/Tablelamp.py
Python_Code/02.2.1_Tablelamp/Tablelamp2.py
Python_Code/03.1.1_LightWater/LightWater.py
Python_Code/03.1.1_LightWater/LightWater2.py
Python_Code/03.1.1_LightWater/randomwater.py
Python_Code/04.1.1_BreathingLED/BreathingLED.py
Python_Code/05.1.1_ColorfulLED/ColorfulLED.py
Python_Code/06.1.1_Doorbell/Doorbell.py
Python_Code/06.1.1_Doorbell/Doorbell2.py
Python_Code/06.2.1_Alertor/Alertor.py
Python_Code/07.1.1_ADC/ADC.py
Python_Code/07.1.1_ADC/ADCDevice.py
Python_Code/08.1.1_Softlight/ADCDevice.py
Python_Code/08.1.1_Softlight/Softlight.py
Python_Code/09.1.1_ColorfulSoftlight/ADCDevice.py
Python_Code/09.1.1_ColorfulSoftlight/ColorfulSoftlight.py
Python_Code/10.1.1_Nightlamp/Nightlamp.py
Python_Code/10.1.1_Nightlamp/ADCDevice.py
Python_Code/11.1.1_Thermometer/ADCDevice.py
Python_Code/12.1.1_Joystick/ADCDevice.py
Python_Code/12.1.1_Joystick/Joystick.py
Python_Code/13.1.1_Motor/ADCDevice.py
Python_Code/13.1.1_Motor/Motor.py
Python_Code/14.1.1_Relay/Relay.py
Python_Code/15.1.1_Sweep/Sweep.py
Python_Code/16.1.1_SteppingMotor/SteppingMotor.py
Python_Code/17.1.1_LightWater02/LightWater02.py
Python_Code/18.1.1_SevenSegmentDisplay/SevenSegmentDisplay.py
Python_Code/18.2.1_StopWatch/StopWatch.py
Python_Code/19.1.1_LEDMatrix/LEDMatrix.py
Python_Code/20.1.1_I2CLCD1602/Adafruit_LCD1602.py
Python_Code/20.1.1_I2CLCD1602/PCF8574.py
Python_Code/20.1.1_I2CLCD1602/pigpio_author_example.py
Python_Code/21.1.1_DHT11/DHT11.py
Python_Code/21.1.1_DHT11/Freenove_DHT.py
Python_Code/21.1.1_DHT11/setup.py
Python_Code/22.1.1_MatrixKeypad/Keypad.py
Python_Code/22.1.1_MatrixKeypad/MatrixKeypad.py
Python_Code/23.1.1_SenseLED/SenseLED.py
Python_Code/24.1.1_UltrasonicRanging/UltrasonicRanging.py
/Python_Code/25.1.1_MPU6050
/Python_Code/26.1.1_WebIO
/Python_Code/27.2.1_LightWater03
